<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div
      class="relative flex size-full min-h-screen flex-col bg-[#121821] dark group/design-root overflow-x-hidden"
      style="--select-button-svg: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724px%27 height=%2724px%27 fill=%27rgb(148,167,199)%27 viewBox=%270 0 256 256%27%3e%3cpath d=%27M181.66,170.34a8,8,0,0,1,0,11.32l-48,48a8,8,0,0,1-11.32,0l-48-48a8,8,0,0,1,11.32-11.32L128,212.69l42.34-42.35A8,8,0,0,1,181.66,170.34Zm-96-84.68L128,43.31l42.34,42.35a8,8,0,0,0,11.32-11.32l-48-48a8,8,0,0,0-11.32,0l-48,48A8,8,0,0,0,85.66,85.66Z%27%3e%3c/path%3e%3c/svg%3e'); font-family: Inter, &quot;Noto Sans&quot;, sans-serif;"
    >
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#253b46] px-10 py-3">
          <div class="flex items-center gap-4 text-white">
            
            <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">Aqua clean ai</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
             <a class="text-white text-sm font-medium leading-normal" href="admin_homepage.html">Dashboard</a>
              <a class="text-white text-sm font-medium leading-normal" href="trash_detection.html">Trash Detection Results</a>
              <a class="text-white text-sm font-medium leading-normal" href="View_more.html">Trash Detection</a>
              <a class="text-white text-sm font-medium leading-normal" href="User_details.html">User Management</a>
            </div>
            <button
              class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-[#253b46] text-white gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
            >
              <div class="text-white" data-icon="Bell" data-size="20px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M221.8,175.94C216.25,166.38,208,139.33,208,104a80,80,0,1,0-160,0c0,35.34-8.26,62.38-13.81,71.94A16,16,0,0,0,48,200H88.81a40,40,0,0,0,78.38,0H208a16,16,0,0,0,13.8-24.06ZM128,216a24,24,0,0,1-22.62-16h45.24A24,24,0,0,1,128,216ZM48,184c7.7-13.24,16-43.92,16-80a64,64,0,1,1,128,0c0,36.05,8.28,66.73,16,80Z"
                  ></path>
                </svg>
              </div>
            </button>
       
          </div>
        </header>
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col w-80">

             <h3 class="text-white text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Detection of objects</h3>
             <div class="flex items-center gap-4 bg-[#121821] px-4 min-h-[72px] py-2 justify-between">
              <div class="flex items-center gap-4">
                <div
                  class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCGBPTnlC0k1z2BKPzixM_T6csQwZEwTcX-Z7BD8sCbKDpteB2NMKyfGvHZxDAFKNkM7J885J7RELEB1W7yyu51qo258rxMtPy-PbHp1OCffhdO7AkwWSIcKysNWVuiv_mVh-C5c-ZCZBK0LWrYxFG8TygbQBa56B9jMaDjaGflodlydUpGXE0yBiNFqZAI9ivbHmt9Thqe-kzTVD9QB3-sQi34OCMcGx7kEwSpAiY9nBs4912IrutlFnQYliy2NaIA7hYlRZgIn38");'
                ></div>
                <div class="flex flex-col justify-center">
                  <p class="text-white text-base font-medium leading-normal line-clamp-1">Image 2</p>
                  <p class="text-[#94a7c7] text-sm font-normal leading-normal line-clamp-2">Confidence: 85%, Count: 2</p>
                </div>
              </div>
              <div class="shrink-0">
                <div class="flex size-7 items-center justify-center"><div class="size-3 rounded-full bg-[#0bda5e]"></div></div>
              </div>
            </div>
            <div class="flex items-center gap-4 bg-[#121821] px-4 min-h-[72px] py-2 justify-between">
              <div class="flex items-center gap-4">
                <div
                  class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDmjMiQbcklPzIKpvU3SOaFQIg-3DlxU6PFrwlyqujoeTUjeESx1-qSCqPUsZ4RC72M_X8yGK2bS_ayImQEHv5yqdM5ym4ANX_8rwOi-ysVgXOo623msTk8Kc2MQOjUDw3J1n3-OAwmHoQJ1u5HqtNG_eqpEAaALqizHj4VtS_OGeGEy9nlivbc_u-_KGDl-giRdVnYLHVKTk0QyIO4b61JLly1G0VZ21qOLrgOYQceljzOyIp2pUbdNP0sfZ1mGSSbcQ6BR-OZfKI");'
                ></div>
                <div class="flex flex-col justify-center">
                  <p class="text-white text-base font-medium leading-normal line-clamp-1">Image 3</p>
                  <p class="text-[#94a7c7] text-sm font-normal leading-normal line-clamp-2">Confidence: 78%, Count: 1</p>
                </div>
              </div>
              <div class="shrink-0">
                <div class="flex size-7 items-center justify-center"><div class="size-3 rounded-full bg-[#0bda5e]"></div></div>
              </div>
            </div>
            <div class="flex items-center gap-4 bg-[#121821] px-4 min-h-[72px] py-2 justify-between">
              <div class="flex items-center gap-4">
                <div
                  class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDzdSkies9TH77iN_n4_axIZPlUPUDapIur1DI9f2CgQVOxWLVrKCwN7jL3zKLHpJJbj4O-3TR0EO8c3WIcNcgTKRLik3lKKlgp56WtK8I65Qewd0gry-OdeLEUk2OxDJfaqFmhFc0mOC6BuPbKJtSQ0f6TpSdADltTGUtwCJXgCm3XSVSGXN0o5po5FRTjL9UtmbHsguMUuX5HpolPmGenXyz18_KS0p9aOUzZJK4-7i0fJHoAVec25eGuWkuBdBAQNym7pVag4To");'
                ></div>
                <div class="flex flex-col justify-center">
                  <p class="text-white text-base font-medium leading-normal line-clamp-1">Image 4</p>
                  <p class="text-[#94a7c7] text-sm font-normal leading-normal line-clamp-2">Confidence: 95%, Count: 4</p>
                </div>
              </div>
              <div class="shrink-0">
                <div class="flex size-7 items-center justify-center"><div class="size-3 rounded-full bg-[#0bda5e]"></div></div>
              </div>
            </div>
            <div class="flex items-center gap-4 bg-[#121821] px-4 min-h-[72px] py-2 justify-between">
              <div class="flex items-center gap-4">
                <div
                  class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC3ZarWPnhE71qeoOyiE8hl8a6s1xVjDsAm9IT2QGNYJPEzi_wG6Cy8bSEbuX0zrsK6JPgz1bSIXjsS-fyECji1q4wUR44sud-Yp7b--Pq2gTQY2rkZsvqqNRo_EXxVIoV2hyaOxydXsx907Q3dRd4PTmcpPSKZ12ngaRqzlvcmbZcmnxPKq3ittK-kVGIjVE9dO5EwjHK1XvBc6_4Y2aSOv5STHpbDpi2srjDjKHCMkS9LLaivZO1_BxtLWHxvvQTj2xk9-mUSC6U");'
                ></div>
                <div class="flex flex-col justify-center">
                  <p class="text-white text-base font-medium leading-normal line-clamp-1">Image 5</p>
                  <p class="text-[#94a7c7] text-sm font-normal leading-normal line-clamp-2">Confidence: 88%, Count: 2</p>
                </div>
              </div>
              <div class="shrink-0">
                <div class="flex size-7 items-center justify-center"><div class="size-3 rounded-full bg-[#0bda5e]"></div></div>
              </div>
            </div>
          </div>
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">

            <h3 class="text-white text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Review Workspace</h3>
            <div class="flex w-full grow bg-[#121821] @container p-4">
              <div class="w-full gap-1 overflow-hidden bg-[#121821] @[480px]:gap-2 aspect-[3/2] rounded-xl flex">
                <div
                  class="w-full bg-center bg-no-repeat bg-cover aspect-auto rounded-none flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAdoxb5xGATFV5dNvp7oWSShSP7raFfDd6nJ2MSsuUVG-lckVi3626ut5Jmekgq6afDfO9RvlFbwznSMK5WFXjQJxHm-En6IVBrqk4gozKAfJRyFtu_KOIB9tpWIr325H03Ft-0PBvKywpQxXXYshUhjJkXL5D-QHHQwRHKCaRSZTFKZozjgVXI2c146B9kJ4-HuxWexTVqRa-1CZzFRHklSvjdaK63i9vOi_75xXilTrAIHkhyF_HW7Q0OFeoq_QwLGrWWwaC5A-4");'
                ></div>
              </div>
            </div>
            <div class="flex items-center gap-4 bg-[#121821] px-4 min-h-[72px] py-2">
              <div class="flex flex-col justify-center">
                <p class="text-white text-base font-medium leading-normal line-clamp-1">Image Metadata</p>
                <p class="text-[#94a7c7] text-sm font-normal leading-normal line-clamp-2">Location: Pacific Ocean, Time: 2024-01-15 14:30, Model: TrashNet v2, Confidence: 92%</p>
              </div>
            </div>
            <div class="@container">
              <div class="gap-2 px-4 flex flex-wrap justify-start">
                <div class="flex flex-col items-center gap-2 bg-[#121821] py-2.5 text-center w-20">
                  <div class="rounded-full bg-[#253246] p-2.5">
                    <div class="text-white" data-icon="Check" data-size="20px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
                      </svg>
                    </div>
                  </div>
                  <p class="text-white text-sm font-medium leading-normal">Mark as Valid</p>
                </div>
                <div class="flex flex-col items-center gap-2 bg-[#121821] py-2.5 text-center w-20">
                  <div class="rounded-full bg-[#253246] p-2.5">
                    <div class="text-white" data-icon="X" data-size="20px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <p class="text-white text-sm font-medium leading-normal">Reject Detection</p>
                </div>
                <div class="flex flex-col items-center gap-2 bg-[#121821] py-2.5 text-center w-20">
                  <div class="rounded-full bg-[#253246] p-2.5">
                    <div class="text-white" data-icon="PencilSimple" data-size="20px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M227.31,73.37,182.63,28.68a16,16,0,0,0-22.63,0L36.69,152A15.86,15.86,0,0,0,32,163.31V208a16,16,0,0,0,16,16H92.69A15.86,15.86,0,0,0,104,219.31L227.31,96a16,16,0,0,0,0-22.63ZM92.69,208H48V163.31l88-88L180.69,120ZM192,108.68,147.31,64l24-24L216,84.68Z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <p class="text-white text-sm font-medium leading-normal">Edit / Annotate</p>
                </div>
                <div class="flex flex-col items-center gap-2 bg-[#121821] py-2.5 text-center w-20">
                  <div class="rounded-full bg-[#253246] p-2.5">
                    <div class="text-white" data-icon="Trash" data-size="20px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM96,40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96Zm96,168H64V64H192ZM112,104v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <p class="text-white text-sm font-medium leading-normal">Delete</p>
                </div>
              </div>
            </div>

            <div class="flex px-4 py-3 justify-end">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#081d3e] text-white text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Save / Submit</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
